* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*Centreliza os textos*/
header {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.linkedin {
    color: #0077b5;
}

.linkedin i {
    margin-right: 5px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0077b5;
}

section {
    margin-bottom: 20px;
}

h2 {
    background: #0077b5;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

